<h2>List of Projects</h2>
{{#list-filter
   filter=(action 'filterByCategory')
   as |projects|}}
   
  {{#each projects as |projectUnit|}}
    {{project-listing project=projectUnit}}
  {{/each}}
{{/list-filter}}
{{outlet}}
