<div class="row">
    <div class="col-md-6">
      {{#if currentUser}}
        <h2>List of My Projects</h2>
        {{#link-to 'projects.index' (query-params currentUser=null)}}
          Switch to all projects
        {{/link-to}}
      {{else}}
        <h2>List of All Projects</h2>
        {{#link-to 'projects.index' (query-params currentUser=true)}}
          Switch to my projects
        {{/link-to}}
      {{/if}}
    </div>
    <div class="col-md-6 text-right">
      {{#link-to 'projects.new' class="btn btn-primary btn-lg"}}
        New Project
      {{/link-to}}
    </div>
</div>

{{#each model as |projectUnit|}}
  {{project-listing project=projectUnit}}
{{/each}}
{{outlet}}
