<div class="jumbotron">
  <div class="container">
    <h2>About Rails List</h2>
    <p>
      Rails List website shows a list of successful rails projects. Idea and all information is taken from
      <a href="https://rails-apps.com/">Rails Apps</a> 
      and used purely for learning purposes.
    </p>
    {{#link-to 'contact' class="btn btn-primary btn-lg"}}
      Get Started!
    {{/link-to}}
  </div>
</div>
