<div class="jumbo">
  <div class="right tomster"></div>
  <h2>About Rails List</h2>
  <p>
    Rails List website shows a list of successful rails projects. Idea and all information is taken from https://rails-apps.com/ and used purely for learning purposes.
  </p>
  {{#link-to 'contact' class="button"}}
    Get Started!
  {{/link-to}}
</div>
