<div class="jumbotron">
  <div class="container">
    <h2>Contact Me</h2>
    <p>Me is Misha :D</p>
    <p>
      {{model.data.message}}
    </p>
    <p>
      <address>
        Kyiv, Ukraine
      </address>
      <a href="tel:380683597989">+380 (68) 359-79-89</a><br>
      <a href="mailto:obliviusm@gmai.com">obliviusm@gmai.com</a>
    </p>
    {{#link-to 'about' class="btn btn-primary btn-lg"}}
      About
    {{/link-to}}
  </div>
</div>
