<div class="jumbotron">
  <div class="container">
    <h2>Welcome!</h2>
    <p>We hope you find some awesome sites.</p>
    {{#link-to 'about' class="btn btn-primary btn-lg"}}
      About Us
    {{/link-to}}
  </div>
</div>

{{outlet}}
